<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Team</h2>
                <h3 class="section-subheading text-muted">One-to-One for now, but let's grow together</h3>
            </div>
        </div>
        <div class="row d-flex justify-content-center align-items-center">
            {% for member in site.people %}
            <div class="col-sm-12 text-center">
                <div class="team-member text-center">
                    <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="" style="height: 35vh;">
                    <h4 class="text-dark">{{ member.name }}</h4>
                    <p class="text-muted">{{ member.position }}</p>
                    <ul class="list-inline social-buttons">
                        {% for network in member.social %}
                        <li>
                            <a href="{{ network.url }}">
                                <i class="fa-brands fa-{{ network.title }}"></i>
                            </a>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">Extensive experience working on government projects across the UK and EU, leveraging data-driven analysis and modelling to shape impactful policies. Complemented by private sector expertise in developing AI-driven solutions to advance a just and green transition across key sectors, including housing and finance.</p>
            </div>
        </div>
    </div>
</section>